/* Color Rules */
:root {
  --bg-color: hsl(0, 0%, 22%);
  --text-color: hsl(0, 0%, 77%);
  --link-color: hsl(98, 72%, 59%);
}

/* #region Universal element rules */
a {
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}

/* #endregion */

/* #region main-content */
.main-content {
  display: grid;
  grid-template: repeat(20, 5%) / repeat(20, 5%);
  height: 100%;
  width: 100%;
}

/* #region menu section */

/* #endregion */

/* #region placement section */

/* #endregion */

/* #region game section */

/* #endregion */

/* #endregion */
