/* Color Rules */
:root {
  --bg-color: hsl(0, 0%, 22%);
  --text-color: hsl(0, 0%, 77%);
  --link-color: hsl(98, 72%, 59%);
}

/* #region Universal element rules */
a {
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.canvas-container {
  display: grid;
  grid-template: 1fr / 1fr;
}

.canvas-container > * {
  grid-row: -1 / 1;
  grid-column: -1 / 1;
}

/* #endregion */

/* #region main-content */
.main-content {
  display: grid;
  grid-template: repeat(20, 5%) / repeat(20, 5%);
  position: relative;

  height: 100%;
  width: 100%;
}

/* title grid */
.title {
  grid-column: 3 / 19;
  grid-row: 2 / 6;
  display: grid;
  place-items: center;

  transition: transform 0.8s ease-in-out;

  background-color: hsla(165, 72%, 59%, 0.5);
}

.title-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5.5rem;
}

.title.shrink {
  transform: scale(0.5) translateY(-50%);
}
/* #region menu section */
.menu {
  grid-column: 3 / 19;
  grid-row: 8 / 18;

  transition: transform 0.3s ease-in-out;

  background-color: hsla(300, 72%, 59%, 0.5);
}

.menu.hidden {
  transform: translateX(-150%);
}
/* #endregion */

/* #region placement section */
.placement {
  grid-column: 3 / 19;
  grid-row: 6 / 20;

  transition: transform 0.3s ease-in-out;

  background-color: hsla(276, 72%, 59%, 0.5);
}

.placement.hidden {
  transform: translateY(150%);
}
/* #endregion */

/* #region game section */
.game {
  grid-column: 2 / 20;
  grid-row: 5 / 20;

  transition: transform 0.3s ease-in-out;

  background-color: hsla(106, 100%, 51%, 0.5);
}

.game.hidden {
  transform: translateX(150%);
}
/* #endregion */

/* #endregion */
